main {
  padding: clamp(2.5rem, calc(1.62rem + 3.76vw), 5rem)
    clamp(1.75rem, calc(0.61rem + 4.88vw), 5rem);
  padding: 2.5rem 1.75rem;
  font-size: 1rem;
  max-width: calc(25rem + clamp(1.75rem, calc(0.61rem + 4.88vw), 5rem));
  max-width: 25rem;
  margin-inline: auto;
}

main > button {
  padding: clamp(0.63rem, calc(0.58rem + 0.19vw), 0.75rem)
    clamp(1.5rem, calc(1.32rem + 0.75vw), 2rem);
  background-color: hsl(var(--clr-el));
  border-radius: 6px;
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.03);
  margin-bottom: clamp(4rem, calc(3.65rem + 1.5vw), 5rem);
}

main > button i {
  margin-right: 0.5rem;
  font-size: 14px;
}

.details img {
  margin-bottom: 48px;
  width: clamp(20rem, calc(14.72rem + 22.54vw), 35rem);
  width: 100%;
}

.information h1 {
  font-size: clamp(1.25rem, calc(1.03rem + 0.94vw), 1.88rem);
  font-weight: 800;
  margin-bottom: clamp(1.75rem, calc(1.4rem + 1.5vw), 2.75rem);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: clamp(2rem, calc(1.12rem + 3.76vw), 4.5rem);
  /* display: none; */
}

.info ul > * + * {
  margin-top: 1rem;
}

.info ul li {
  list-style: none;
  font-weight: 600;
}

.info ul li span {
  font-weight: 300;
  color: hsl(var(--clr-txt), 0.9);
}

.border p {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.border div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.border button {
  min-width: min(6rem, 100%);
  padding: 0.5rem 1rem;
  background-color: hsl(var(--clr-el));
  border-radius: 6px;
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.03);
  font-size: 14px;
}

@media (min-width: 35rem) {
  main {
    max-width: calc(35rem + clamp(1.75rem, calc(0.61rem + 4.88vw), 5rem));
    margin-inline: auto;
  }
  .details {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* gap: 9rem; */
  }

  .details img {
    width: 35rem;

    /* margin-bottom: 0; */
  }

  .info {
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 0; */
  }

  .border {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .border p {
    margin-bottom: 0;
    width: 150px;
    min-width: max-content;
  }

  .border div {
    width: 100%;
    gap: 1rem;
  }
}

@media (min-width: 72rem) {
  main {
    max-width: 90rem;
    padding: 5rem;
  }
  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    gap: 4rem;
  }
  .details img {
    margin-bottom: 0;
  }
  .information {
    margin-left: auto;
  }
}
