@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Variables */

:root {
  --ff-nunito: "Nunito Sans", sans-serif;
}

.dark {
  --clr-el: 209, 23%, 22%;
  --clr-bg: 207, 26%, 17%;
  --clr-txt: 0, 0%, 100%;
}

.light {
  --clr-el: 0, 0%, 100%;
  --clr-bg: 0, 0%, 98%;
  --clr-txt: 200, 15%, 8%;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  color: currentColor;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-txt));
  font-family: var(--ff-nunito);
  font-size: 0.875rem;
  /* margin-top: clamp(5.75rem, calc(4.96rem + 3.38vw), 8rem); */
}

/* Header */
header {
  background-color: hsl(var(--clr-el));
  padding-block: 1.5rem;
  /* position: fixed; */
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  box-shadow: 0 0 4px 0 hsl(var(--clr-txt), 0.25);
}

header div {
  max-width: calc(100% - clamp(3rem, calc(0.54rem + 10.52vw), 10rem));
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: clamp(0.88rem, calc(0.65rem + 0.94vw), 1.5rem);
  font-weight: 800;
}

header .theme-switch {
  font-size: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  font-weight: 600;
}

header .theme-switch i {
  margin-right: 0.5rem;
}
