/* NEW CODE */
/* ** Main ** */
/* Forms */
.form {
  padding-block: clamp(1.5rem, calc(0.71rem + 3.38vw), 3.75rem);
  max-width: calc(100% - clamp(3rem, calc(0.54rem + 10.52vw), 10rem));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main {
  max-width: 90rem;
  margin-inline: auto;
}

.textInput {
  background-color: hsl(var(--clr-el));
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.03);
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.textInput i {
  font-size: 16px;
}

.textInput input {
  width: 100%;
  background: transparent;
  color: hsl(var(--clr-txt));
  border: none;
  outline: none;
}

.textInput:focus-within {
  outline: 1px solid;
}

.textInput input::placeholder {
  opacity: 1;
}

.selectInput {
  position: relative;
}

.selectInput .selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 1rem 1.25rem 1rem 1.5rem;
  border-radius: 6px;
  background-color: hsl(var(--clr-el));
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.03);
}

.selectInput .selectBtn i {
  font-size: 10px;
}

.selectInput .options {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 0.5rem);
  width: 200px;
  padding: 1rem 1.25rem 1rem 1.5rem;
  border-radius: 4px;
  background-color: hsl(var(--clr-el));
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.03);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  display: none;
}

.selectInput .options .option {
  list-style: none;
}

.selectInput:focus-within .options {
  display: flex;
}

@media (min-width: 60rem) {
  .form {
    flex-direction: row;
    justify-content: space-between;
  }
  .textInput {
    width: 512px;
  }
}

/* Cards */

.card-container {
  max-width: calc(100% - clamp(7rem, calc(5.94rem + 4.51vw), 10rem));
  margin-inline: auto;
  /* padding-block: clamp(2rem, calc(1.65rem + 1.5vw), 3rem) clamp(3.5rem, calc(2.97rem + 2.25vw), 5rem); */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-flow: wrap; */
  /* gap: 4.5rem; */
}

.card {
  width: 16.5rem;
  background-color: hsl(var(--clr-el));
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 0 2px hsl(var(--clr-txt), 0.025);
}

.card .img {
  /* height: 10rem; */
}

.card .img img {
  /* height: 10rem; */
  /* width: 100%; */
  object-fit: cover;
}

.card .info {
  padding: 2rem 1.5rem;
}

.card .info h2 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.card .info ul {
  display: grid;
  gap: 0.5rem;
}

.card .info ul li {
  font-weight: 600;
  list-style: none;
}

.card .info ul li span {
  font-weight: 300;
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%) */
/* - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%) */
/* - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%) */
/* - Dark Gray (Light Mode Input): hsl(0, 0%, 52%) */
/* - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%) */
/* - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
/* - Homepage Items: 14px */
/* - Detail Page: 16px */
/* - Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans) */
/* - Weights: 300, 600, 800 */
